.navbar-image {
    padding-top:0.5rem !important;
    padding-bottom:0.5rem !important
}

/*** Reviews ***/
.reviews {
    background: linear-gradient(rgba(112, 125, 153, 0.7), rgba(12, 24, 56, 0.7)), url(../img/reviews.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0.5em;
}

.review {
    background-color: rgba(240, 248, 255, 0.6);
    border: 1px solid darkcyan;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 1em;
    margin-top: 1em;
    color: rgb(71, 11, 77);
}

.right-buttons {
    display: flex;
    justify-content: right;
    gap: 10px;
}

.right-buttons .btn {
    width: 200px;
}

.rounded-left {
    border-radius: 30px 0 0 30px; 
}

.rounded-right {
    border-radius: 0 30px 30px 0; 
}

.height100 {
    height: 100%;
}

.created-on-time {
    font-style: italic;
}

.height200px {
    height: 300px;
}

.center-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.center-buttons .btn {
    width: 300px;
}

.like-modal-window {
    border: 1px solid darkcyan;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: lightcyan;
    padding: 1em;
}